<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--PayPal settings-->
    <!--Values: Sandbox1, Production1-->
    <add key="PayPal:SettingsToUse" value="Sandbox1" />
    <!--PayPal Sandbox1 settings-->
    <!--https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_api_ECGettingStarted-->
    <add key="PayPal:Sandbox1.ApiType" value="sandbox" />
    <add key="PayPal:Sandbox1.PayPalUser" value="sdk-three_api1.sdk.com" />
    <add key="PayPal:Sandbox1.PayPalPassword" value="QFZCWN5HZM8VBG7Q" />
    <add key="PayPal:Sandbox1.PayPalSignature" value="A-IzJhZZjhg29XQ2qnhapuwxIDzyAZQ92FRP5dqBzVesOkzbdUONzmOU" />
    <!--PayPal Production1 settings-->
    <add key="PayPal:Production1.ApiType" value="production" />
    <add key="PayPal:Production1.PayPalUser" value="" />
    <add key="PayPal:Production1.PayPalPassword" value="" />
    <add key="PayPal:Production1.PayPalSignature" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Mvc3Sample-20130412174631;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Mvc3Sample-20130412174631.mdf" />
  </connectionStrings>
</configuration>